#myCanvas
{
    border: 1px solid black;
    /*cursor: url("./Sprites/Interface/Cursor.png"),url("./Sprites/Interface/Cursor.cur"), auto;*/
    background: url('./Sprites/Background/BG_5.png') no-repeat center center;
    background-size: cover;
}