body
{
    background-size: 100%;
   /* background: url("./Sprites/Background/BG_6.png") repeat;*/
    overflow: hidden;
    margin :0;
    padding :0;
}
#myCanvas
{
    background-color: white;
}

